@charset "UTF-8"; 

$screen-small: 20em;        // 320px
$screen-medium: 40em;       // 640px
$screen-large: 80em;        // 1280px

$screen-phone: $screen-small;     // 手机
$screen-tablet: $screen-medium;    // 平板
$screen-desktop: $screen-large;   // 电脑

html, body {
  width: 100vw;
  height: 100vh;
  min-width: $screen-small;
  margin: 0;
  padding: 0;
  //background: #F4F7F9;
  overflow-x: hidden;
  color: #333;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
