.articleList {
  background: #FFFFFF;
  margin: 0 auto 24px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: #f4f4f4;
}

.articleItem {
  border-bottom: 1px solid #e5e6eb;
  padding-bottom: 16px;

}

.articleItem:last-child {
  border-bottom-width: 0;
}


.articleTitle {
  margin: 16px auto;
}

.articleLink {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.articleDescription {
  color: #5e5e5e;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
}

.pageList {
  display: flex;
  justify-content: start;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
  padding: 8px;
}

.pageItem {
  display: inline-block;
  padding: 8px;
  margin-right: 4px;
  min-width: 16px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.pageItemActive {
  background-color: rgba(42, 142, 224, 0.84);
  color: #FFFFFF;
  display: inline-block;
  padding: 8px;
  margin-right: 4px;
  min-width: 16px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
}